<script>
export default {
  props: {
    id: {
      type: String,
      required: true,
      default: null,
    },
  },
  mounted() {
    const schedScript = document.createElement('script');

    schedScript.setAttribute('src', `//${this.id}.sched.com/js/embed.js`);
    schedScript.setAttribute('id', 'sched-script');
    document.head.appendChild(schedScript);
  },
};
</script>

<template>
  <div>
    <a id="sched-embed" :href="`http://${id}.sched.com/`">View the Schedule</a>
  </div>
</template>
