<script lang="ts">
import Vue from 'vue';
import { NextStep } from '../../components/common/index.vue';

export default Vue.extend({
  components: {
    NextStep,
  },
  async asyncData({ $content, error }: any) {
    try {
      const topics = await $content(`topics`)
        .only(['topic_name', 'icon', 'path'])
        .where({ title: { $ne: 'Topics' } })
        .fetch();
      return { topics };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
});
</script>

<template>
  <SlpContainer class="slp-mt-md-96 slp-mt-32">
    <SlpTypography variant="heading2-bold" tag="h1" class="slp-mb-16">
      Industry Topics
    </SlpTypography>
    <SlpTypography variant="body1" tag="p" class="slp-mb-16 slp-mb-md-96">
      Get insights into industry trends
    </SlpTypography>
    <div class="card-container" :cols="3">
      <SlpCard100
        v-for="topic in topics"
        :key="topic.topic_name"
        :link="topic.path"
        :data-ga-name="topic.topic_name"
        data-ga-location="body"
        class="card"
      >
        <SlpIcon
          size="md"
          color="slp-surface-300"
          :name="topic.icon"
          variant="marketing"
        />
        <SlpTypography tag="h1" variant="heading5-bold" class="slp-my-16">{{
          topic.topic_name
        }}</SlpTypography>
        <SlpButton variant="tertiary">
          Learn more <SlpIcon name="chevron-lg-right" variant="product" />
        </SlpButton>
      </SlpCard100>
    </div>
    <NextStep />
  </SlpContainer>
</template>

<style scoped lang="scss">
.card {
  background-color: $color-surface-800;
  min-height: 250px;
  border-radius: 4px;

  @media (max-width: $breakpoint-md) {
    min-width: 100%;
    min-height: fit-content;
  }

  &:hover {
    background: linear-gradient(
      93.83deg,
      rgba(199, 177, 254, 0.4) 7.27%,
      rgba(255, 212, 216, 0.4) 105.33%
    ) !important;
  }
}
.card-container {
  width: 100%;
  padding: 0;
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr;

  @media (min-width: 350px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $breakpoint-md) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: $breakpoint-md) {
    padding: 0;
  }
}
</style>
