<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    data: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
  },
});
</script>

<template>
  <SlpContainer>
    <SlpColumn :cols="data.column_size || 12">
      <table class="topics-info-table">
        <tr v-for="row in data.rows" :key="row.title">
          <td class="topics-info-table__title">
            <SlpTypography variant="body1">{{ row.title }} </SlpTypography>
          </td>
          <td>
            <SlpTypography variant="body1">{{ row.text }} </SlpTypography>
          </td>
        </tr>
      </table>
    </SlpColumn>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.topics-info-table {
  border-collapse: collapse;
  margin-top: $spacing-16;
  td {
    border: 1px solid #eee7fd;
    padding: $spacing-16;
  }
  &__title {
    padding: $spacing-24 $spacing-16;
    vertical-align: baseline;
    span {
      font-weight: 600;
    }
  }
}
</style>
