<script lang="ts">
import Vue from 'vue';

import { MetaInfo } from 'vue-meta/types/vue-meta';
import { getPageMetadata } from '~/common/meta';

import { FreeTrialHero } from '@/components/free-trial/index.vue';
import { NewQuotesCarousel } from '@/components/home/index.vue';

export default Vue.extend({
  name: 'FreeTrial',
  components: {
    FreeTrialHero,
    NewQuotesCarousel,
  },
  layout: 'free-trial-navigation',
  async asyncData({ $content }) {
    const doc = await $content('free-trial/devsecops').fetch();
    return { doc };
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).doc, this.$route.path);
  },
});
</script>

<template>
  <div>
    <FreeTrialHero :data="doc.hero" />
    <NewQuotesCarousel :data="doc.quotes_carousel_block" />
    <section class="accolades-wrapper">
      <SlpContainer>
        <div class="flex">
          <div class="content">
            <SlpTypography tag="h2" variant="heading2-bold" class="slp-mb-8">
              {{ doc.g2_categories.header }}
            </SlpTypography>
            <SlpTypography tag="p" variant="heading4" class="slp-mb-24">
              {{ doc.g2_categories.subtitle }}
            </SlpTypography>
            <SlpButton
              href="https://gitlab.com/-/trials/new"
              variant="secondary"
            >
              Start free trial
              <SlpIcon
                class="learn-more-icon slp-ml-8"
                name="chevron-lg-right"
                variant="product"
              />
            </SlpButton>
          </div>
          <div class="badges">
            <nuxt-img
              v-for="badge in doc.g2_categories.badges"
              :key="badge.src"
              width="95px"
              :alt="badge.alt"
              :src="badge.src"
            />
          </div>
        </div>
      </SlpContainer>
    </section>
    <section>
      <SlpContainer>
        <div class="content-cards">
          <div
            v-for="card in doc.information_squares"
            :key="card.icon"
            class="content-card"
          >
            <img
              v-if="card.icon_src"
              class="icon"
              :src="card.icon_src"
              aria-hidden="true"
              alt=""
            />
            <SlpIcon
              v-else
              :icon="card.icon"
              size="lg"
              class="slp-mb-16"
              color="accent-500"
            />
            <SlpTypography tag="h3" variant="heading3-bold" class="slp-mb-16">
              {{ card.heading }}
            </SlpTypography>
            <SlpTypography variant="body2" tag="p">
              {{ card.text }}
            </SlpTypography>
          </div>
        </div>
      </SlpContainer>
    </section>
    <section class="analysts-wrapper">
      <SlpContainer>
        <div class="flex">
          <div class="content">
            <SlpTypography variant="heading2-bold" tag="h2" class="slp-mb-24">
              {{ doc.analysts.heading }}
            </SlpTypography>
            <SlpButton href="https://gitlab.com/-/trials/new" variant="primary">
              Start free trial
              <SlpIcon
                class="learn-more-icon slp-ml-8"
                name="chevron-lg-right"
                variant="product"
              />
            </SlpButton>
          </div>
          <div class="squares">
            <article
              v-for="square in doc.analysts.squares"
              :key="square.text"
              class="square"
            >
              <nuxt-img
                :src="square.logo"
                :alt="`${square.company} logo`"
                height="17px"
                class="slp-mb-16 logo"
              />
              <SlpTypography variant="body3-bold" tag="p">{{
                square.text
              }}</SlpTypography>
            </article>
          </div>
        </div>
      </SlpContainer>
    </section>
    <section class="next-steps">
      <SlpContainer>
        <SlpTypography variant="heading2-bold" tag="h2">
          {{ doc.next_steps.heading }}
        </SlpTypography>
        <SlpTypography variant="heading2-bold" tag="h2" class="slp-mb-16">
          {{ doc.next_steps.subtitle }}
        </SlpTypography>
        <SlpTypography variant="heading4" tag="p" class="slp-mb-24">
          {{ doc.next_steps.text }}
        </SlpTypography>
        <SlpButton href="https://gitlab.com/-/trials/new" variant="primary">
          Start free trial
          <SlpIcon
            class="learn-more-icon slp-ml-8"
            name="chevron-lg-right"
            variant="product"
          />
        </SlpButton>
      </SlpContainer>
    </section>
  </div>
</template>

<style lang="scss" scoped>
.slp-btn {
  @media (max-width: $breakpoint-md) {
    width: 100%;
    justify-content: center;
  }
}
.flex {
  display: flex;

  @media (max-width: $breakpoint-md) {
    flex-wrap: wrap;
  }
}

.accolades-wrapper,
.analysts-wrapper {
  padding: $spacing-96 0;

  @media (max-width: $breakpoint-md) {
    padding: $spacing-64 0;
  }
}

.accolades-wrapper {
  background: $color-surface-700;
  color: $color-text-50;
}

.next-steps {
  padding: $spacing-96 0;
  background: radial-gradient(
      50.08% 44.51% at 100% 100%,
      rgba(169, 137, 245, 0.2) 0,
      rgba(119, 89, 194, 0) 100%
    ),
    radial-gradient(
      60.76% 48.01% at 0 100%,
      rgba(226, 67, 41, 0.2) 0,
      rgba(226, 67, 41, 0) 100%
    ),
    #fff;

  @media (max-width: $breakpoint-md) {
    padding: $spacing-64 0;
  }
}

.analysts-wrapper {
  background: $color-surface-800;

  .squares {
    grid-gap: 16px 24px;
    display: grid;
    gap: 16px 24px;
    grid-template-columns: 1fr 1fr;
    position: relative;
    @media (max-width: $breakpoint-md) {
      margin-top: $spacing-24;
      grid-template-columns: 1fr;
    }
  }

  .square {
    padding: $spacing-16;
    border-radius: 8px;
    background: $color-surface-50;
  }
}

.content-cards {
  display: flex;
  flex-wrap: wrap;
  padding: $spacing-96 0;

  @media (max-width: $breakpoint-md) {
    padding: $spacing-64 0;
  }

  .content-card {
    padding: $spacing-32 40px 40px 40px;
    flex: 1 0 45%;

    .icon {
      width: 48px;
      height: 48px;
    }

    @media (max-width: $breakpoint-md) {
      padding: $spacing-32 0;
      flex: 1 0 100%;

      &:not(:last-of-type) {
        border-bottom: 1px solid $color-surface-200;
      }
    }

    @media (min-width: $breakpoint-lg) {
      &:nth-of-type(1),
      &:nth-of-type(3) {
        border-right: 1px solid $color-surface-200;
      }

      &:nth-of-type(3),
      &:nth-of-type(4),
      &:last-of-type {
        border-top: 1px solid $color-surface-200;
      }
    }
  }
}

.badges {
  display: flex;
  flex: 1 0 50%;
  flex-wrap: wrap;
  gap: 42px;
  justify-content: flex-end;
  position: relative;

  @media (max-width: $breakpoint-md) {
    margin-top: $spacing-32;
    justify-content: flex-start;
    gap: 32px;
  }
}
</style>
