<script lang="ts">
import { SlpEventCard } from '../ten/index.vue';
import SlpHorizontalRule from './horizontal-rule';

export default {
  components: {
    SlpHorizontalRule,
    SlpEventCard,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
};
</script>

<template>
  <section
    :data-aos="data.aos_animation"
    :data-aos-duration="data.aos_duration"
    data-aos-once="true"
    data-aos-easing="ease-in"
  >
    <SlpRow>
      <SlpColumn class="slp-flex slp-flex-column slp-align-items-center">
        <SlpIcon
          v-if="data.icon"
          class="slp-pt-16 slp-mb-24"
          :name="data.icon.name"
          :alt="data.icon.alt"
          size="xl"
          :variant="data.icon.variant"
        />
        <SlpTypography
          v-if="data.header"
          tag="h2"
          variant="heading2"
          class="header"
          :class="{ 'has-icon': data.icon }"
          >{{ data.header }}
        </SlpTypography>
        <SlpTypography
          v-if="data.description"
          tag="div"
          variant="body1"
          class="description subtitle"
          v-html="$md.render(data.description)"
        />
      </SlpColumn>
    </SlpRow>
    <SlpRow class="event_container">
      <SlpColumn
        v-for="event in data.events"
        :key="event.title"
        class="event"
        :class="data.text_align"
      >
        <SlpEventCard
          class="event-card"
          :heading="event.heading"
          :icon="event.icon"
          :date="event.date"
          :event-type="event.event_type"
          :destination-url="event.destination_url"
        />
      </SlpColumn>
    </SlpRow>
    <SlpHorizontalRule v-if="!data.hide_horizontal_rule" />
  </section>
</template>

<style lang="scss" scoped>
$video-height: 315px;

section {
  position: relative;
}

.full-background {
  background-color: #f8f8f8;
  margin: 0 calc(50% - 50vw) $spacing-48 calc(50% - 50vw);
  box-sizing: border-box;
  padding: 0 calc(50vw - 50%) $spacing-48;
}

.header-icon {
  margin: $spacing-96 auto 1rem auto;
  max-height: 100px;
  width: 100%;
}

.header {
  text-align: center;
  margin: $spacing-96 auto 1rem auto;
  line-height: 36px;

  &.has-icon {
    margin-top: 0;
  }
}

.description,
.subtitle {
  margin: 0 auto;
}

.description {
  margin-bottom: 42px;
}

.subtitle {
  width: 66%;
  text-align: center;
}

.event {
  max-width: 350px;
  margin: 20px;
}

.event_container {
  justify-content: center;
}

.grid {
  display: grid;
  column-gap: 30px;
  row-gap: 48px;
  margin: $spacing-48 auto 0 auto;
  max-width: 100%;
  @media (max-width: $breakpoint-lg) {
    grid-template-columns: 1fr !important;
  }
}
</style>
