<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import LinkCard from '@/components/update/link-card.vue';
import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  components: {
    LinkCard,
  },
  nuxtI18n: false,
  async asyncData({ $content }) {
    const doc = await $content('update').fetch();
    return { doc };
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).doc, this.$route.path);
  },
});
</script>

<template>
  <SlpContainer class="update">
    <SlpTypography tag="h1" variant="heading1-bold">{{
      doc.heading.header
    }}</SlpTypography>
    <SlpTypography variant="heading4">
      <div
        v-if="doc.heading.subtitle"
        class="slp-mb-64"
        v-html="$md.render(doc.heading.subtitle)"
      ></div>
    </SlpTypography>

    <div class="cards">
      <LinkCard v-for="card in doc.cards" :key="card.title" :card="card" />
    </div>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.update {
  h1 {
    margin-bottom: $spacing-16;
  }
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: $spacing-32;
  align-items: stretch;
  margin-bottom: $spacing-32;

  @media (max-width: $breakpoint-md) {
    gap: $spacing-8;
  }
}
</style>
